In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
df = pd.DataFrame()

In [43]:
page = requests.get('https://weather.com/weather/tenday/l/San+Francisco+CA?canonicalCityId=dfdaba8cbe3a4d12a8796e1f7b1ccc7174b4b0a2d5ddb1c8566ae9f154fa638c')

source = BeautifulSoup(page.content, 'html.parser')

details = source.find( class_ = "DailyForecast--DisclosureList--350ZO" )

final = details.find_all('details')

h2_element = final[1].find('h2').text.split(' ')[1]

def convert_far(x):
    return round(5/9 * (int(x)-32))
def get_month_name(x):
    date = int(x)
    if (date < 10):
        return str(date) + ' April'
    else:
        return str(date) + ' March'

In [48]:
df = pd.DataFrame()
final.pop(0)
print('Weather forcasting in SanFrancisco')
for each in final:
    full_date = each.find('h2').text
    date = full_date.split(' ')[1]
    day = full_date.split(' ')[0]
    date = get_month_name(date)
    description = each.find( class_ = "DailyContent--narrative--3AcXd" ).text
    temperature = each.find( class_ = "DetailsSummary--highTempValue--3x6cL")
    temperature = convert_far(temperature.text[:-1])
    
    df = df.append(pd.DataFrame(
        {
            'Day': day,
            'Date': date,
            'Description': description, 
            'Temperature': temperature
        }, index = [1]), ignore_index = True)
df

Weather forcasting in SanFrancisco

,0,Date,Day,Description,Temperature
0,NaN,29 March,Mon,Some clouds in the morning will give way to ma...,15.0
1,NaN,30 March,Tue,Sunny skies. High 66F. Winds NNW at 10 to 20 mph.,19.0
2,NaN,31 March,Wed,A mainly sunny sky. High 69F. Winds N at 5 to ...,21.0
3,NaN,1 April,Thu,Sunny. High 67F. Winds NNW at 10 to 15 mph.,19.0
4,NaN,2 April,Fri,Partly cloudy. High 63F. Winds WNW at 10 to 20...,17.0
5,NaN,3 April,Sat,Partly cloudy skies. High 63F. Winds WNW at 10...,17.0
6,NaN,4 April,Sun,Sunny skies. High 61F. Winds WNW at 10 to 20 mph.,16.0
7,NaN,5 April,Mon,Mostly sunny skies. High 59F. Winds WNW at 10 ...,15.0
8,NaN,6 April,Tue,Sunny along with a few clouds. High 59F. Winds...,15.0
9,NaN,7 April,Wed,Sunshine and clouds mixed. High 59F. Winds W a...,15.0
0,h2,NaN,NaN,NaN,NaN
1,h2,NaN,NaN,NaN,NaN
2,DailyContent--narrative--3AcXd,NaN,NaN,NaN,NaN
3,DetailsSummary--highTempValue--3x6cL,NaN,NaN,NaN,NaN